.navbar-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    background-color: rgb(73, 73, 73);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    align-items: center;
    padding: 0.8rem 0;

}

.navbar-list {
    display: flex;
    gap: 3rem;
}

.navbar-item {
    padding: 1rem 1.5rem;
}