.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  gap: 20px;
}

.first-img {
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}